
/* General */

.flexbox{
  display: flex;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.centered{
  width: 60%;
  margin: auto;
}

body{
  font-family: 'Fredoka', sans-serif;
  font-family: 'Roboto', sans-serif;
  
}
button{
  background-color: #004ECC ;
  border: none;
  padding: 5px 10px 5px 10px;
  color: white;
  cursor: pointer;
}
/* General */
/* ------------------------------------------------------------------------ */

/* Header */
header{
  background-color: #90A6B9;
  height: 78%;
  width: 100%;
  /* padding-top: 80px; */
  
}
/* Navbar */
nav{
  position: fixed;  
  width: 100%;
  font-size: 0.8em;
  z-index: 2;
  margin-bottom: 100px;
}

.nav-bar{
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 0 10px 0 10px;

}

.nav-bar-left{
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
  min-width: 400px;
  max-width: 50%;
}

.nav-bar-right{
  flex-direction: row;
  justify-content: flex-end;
  min-width: 400px;
  max-width: 50%;
}

.nav-bar-links{
  justify-content: center;
  align-items: center;
  min-width: 100px;
  padding: 0 10px 0 10px;
  /* max-width: 30%; */
}

.nav-bar-links:hover{
  cursor: pointer;
}

#db-logo{
  width: 100%;
}
/* Navbar */

.header-inner{
  padding-top: 140px;
}

.header-inner h1{
  margin-bottom:50px;
  text-align: start;
  font-size: 3.5em;
}

.headeer-inner-row{
  flex-direction: row;
}

.header-inner-column-left{
  width: 40%;
}

.header-inner-column-left > *{
  margin-bottom: 30px;
}

.down-arrow{
  
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 15px;
  
}
.fa-down-long{
font-size: 3em;
cursor: pointer;

}

.header-inner-proposta-cliente{
  width: 60%;  
  padding-top: 0px;
}

#jumbo{
  width: 115%;
  height: 115%;
  z-index: 0;
  object-fit: contain;  
}


/* Header */
/* ------------------------------------------------------------------------ */
/* Main */





/* Main */
/* ------------------------------------------------------------------------ */
/* Footer */




/* Footer */
/* ------------------------------------------------------------------------ */

