
/* Common */

.flexbox{
  display: flex;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.centered{
  width: 60%;
  margin: auto;
}

body{
  font-family: 'Fredoka', sans-serif;
  font-family: 'Roboto', sans-serif;
  
}
button{
  background-color: #004ECC ;
  border: none;
  padding: 5px 10px 5px 10px;
  color: white;
  cursor: pointer;
}
/* Common */
/* ------------------------------------------------------------------------ */

/* Header */
header{
  background-color: #90A6B9;
  height: 78%;
  width: 100%; 
}

.header-inner{
  margin-left: 15%;
  margin-right: 20%;
}

/* Navbar */
nav{
  position: fixed;  
  width: 100%;
  font-size: 0.8em;
  z-index: 2;
  margin-bottom: 100px;
}

.nav-bar{
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: #CCCCCC;
  color: black;
  /* padding: 10px 10px 10px 10px; */

}

.nav-bar-left{
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
  min-width: 400px;
  max-width: 50%;
}

.nav-bar-right{
  flex-direction: row;
  justify-content: flex-end;
  min-width: 400px;
  max-width: 50%;
}

.nav-bar-links{
  justify-content: center;
  align-items: center;
  min-width: 100px;
  padding: 10px 10px 10px 10px;
  /* max-width: 30%; */
}

.nav-bar-links:hover{
  cursor: pointer;
  border-bottom: 2px solid #525356;
}

#db-logo{
  width: 100%;
}
/* Navbar */

.header-inner{
  padding-top: 140px;
}

.header-inner h1{
  margin-bottom:50px;
  text-align: start;
  font-size: 3.5em;
}

.headeer-inner-row{
  flex-direction: row;
}

.header-inner-column-left{
  width: 40%;
}

.header-inner-column-left > *{
  margin-bottom: 30px;
}

.arrow-down{  
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 15px;
  
}
.fa-arrow-down{
font-size: 2.5em;
cursor: pointer;

}

.header-inner-proposta-cliente{
  width: 60%;  
  margin-bottom: 0px;
}

#jumbo{
  width: 115%;
  height: 115%;
  z-index: 0;
  object-fit: contain;  
}


/* Header */
/* ------------------------------------------------------------------------ */
/* Main */

main{
  background-color: #CCCCCC;
  padding-top: 120px;
  padding-bottom: 150px;
}

.container-main h2{
  margin-bottom: 30px;
}

/* radio buttons */
.radio-buttons{
  margin-bottom: 60px;
  flex-direction: row;
  
}

.radio-button{
  margin-right: 5px;
}

.radio-button input{
  height: 1.5em;
  width: 1.5em;
}

.label{
  margin-right: 15px;
}
/* radio buttons */
/* offers */
.offers{
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 50px;  
}

.singolo, .team, .azienda{
  width: 31%;
  border: 1px solid #A6A6A9;
  flex-direction: column;  
}

.titolo-offerta{
  justify-content: center;
  align-items: center;
  flex-direction: row;  
  width: 100%;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid #A6A6A9;
  margin-bottom: 30px ;
}

.titolo span{
  margin-right: 5px;
}

.offers-inner{
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
}

.offers-inner h3{
  margin-bottom: 20px;
}

.offers-inner .prezzo{
  margin-bottom: 15px;

}

.offers-inner .rate{
  margin-bottom: 50px;
  color: #525356;
}

.offers-inner .info{
  flex-direction: row;
  margin-bottom: 25px;
}

.offers-inner .info .icona{
  margin-right: 5px;
  margin-left: -5px;
}

.offers-inner .button-offers{
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 30px;
}

.offers-inner .button-offers #prova-gratis{  
  width: 100%;
}

.offers-inner .acquista-ora{
  margin-bottom: 40px;
}

.offers-inner hr{
  width: 40px;
  margin-bottom: 40px;
  color: #A6A6A9;
  background-color: #A6A6A9;
  height: 2px;
  border-width:0;
  
}

.offers-inner h4{
  margin-bottom: 35px;
}

.punto-saliente{
  margin-bottom: 25px;
  /* flex-direction: row; */
}

.punto-saliente .icona-punto-saliente{
  color: #004ECC ;
  margin-right: 3px;
}

/* offers */
/* ufficio vendite*/
.uff-vendite{
  border: 1px solid #A6A6A9;
  margin-bottom: 130px;
}

.uff-vendite .team-uff-vendite{
  border-bottom: 1px solid #A6A6A9;
  justify-content: center;
  padding: 10px 0 10px 0;
}

.uff-vendite-inner{
  padding: 50px 40px 30px 40px;
}

.uff-vendite-h2-button{
  flex-direction: row;
  justify-content: space-between;
}

.uff-vendite-h2-button button{
  padding: 8px 30px 10px 30px;
  height: 30px;
}

.uff-vendite-inner h4{
  margin-bottom: 40px;
}

.uff-vendite-inner p{
  max-width: 70%;
}

/* ufficio vendite*/
/* entra in contatto con un partner dropbox */
.entra-in-contatto{
  flex-direction: row;
  margin-bottom: 130px;
}

.entra-in-contatto .contatto-image{
  width: 60%;
}

.contatto-image #partner{
  width: 100%;
  height: 100%;
  
  object-fit: contain;
}

.entra-in-contatto .contatto-partner{
  width: 40%;
  padding: 45px 100px 45px 40px;
}

.contatto-partner #button-partner{
  border: 1px solid black;
  background-color: rgba(0,0,0,0);
  color: black;
  white-space: nowrap;
}
.contatto-partner > p{
  margin-bottom: 45px;
}

/* entra in contatto con un partner dropbox */
/* Esegui più operazioni con Dropbox Business  */





/* Esegui più operazioni con Dropbox Business  */



/* Main */
/* ------------------------------------------------------------------------ */
/* Footer */




/* Footer */
/* ------------------------------------------------------------------------ */

